<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZlZrtkX0vmTzHUG3vki-2fkcx_UiMx6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>334457579966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasetest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-12bbc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-12bbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334457579966:ios:59bf71768f835568bb31ef</string>
</dict>
</plist>